* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header,
body {
  width: 100%;
  overflow-x: hidden;
}

.profile {
  max-width: 48px;
  max-height: 38px;
  filter: brightness(0) saturate(100%) invert(10%) sepia(11%) saturate(4027%)
    hue-rotate(138deg) brightness(94%) contrast(99%);
}

.notification {
  width: 48px;
  height: 28px;
  filter: brightness(0) saturate(100%) invert(10%) sepia(11%) saturate(4027%)
    hue-rotate(138deg) brightness(94%) contrast(99%);
}

.logo {
  max-width: 48px;
  max-height: 38px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #00696c;
  border-radius: 0 0 34px 34px;
}

.container .top-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
  margin-right: 12px;
  margin-left: 12px;
  height: 48px;
}

.top-right {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  background-color: #55c3c7;
  border-radius: 24px;
  justify-content: center;
  width: 120px;
  transition: 0.3s ease-out;
}

.top-right-collapse {
  width: 400px;
  transition-delay: 0s;
}

.top-right-uncollapse {
  width: 120px;
  transition-delay: 0.4s;
}

.top-left {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #55c3c7;
  border-radius: 24px;
  width: 160px;
  transition: 0.3s ease-out;
}

.container .btm-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffff;
  text-align: center;
  margin-top: 48px;
}

.container .btm-header .judul {
  font-size: 5em;
  font-family: "Roboto-bold";
}

.judul-p {
  margin-top: 28px;
  margin-right: 24vw;
  margin-left: 24vw;
  font-size: 1.2em;
  font-family: "Roboto-thin";
}

.jelajahi-btn {
  margin-top: 80px;
  margin-bottom: 60px;
  width: 200px;
  height: 50px;
  border-radius: 28px;
  border-color: none;
  border: none;
  transition-duration: 0.5s;
  font-family: "Roboto-regular";
  font-size: 1em;
  background-color: #fff;
}

.jelajahi-btn:hover {
  background-color: #55c3c7;
  color: #012022;
}

.brandname {
  margin: 0;
  color: #012022;
}
.container-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 80px;
  min-width: 100%;
  transition: 3s ease-in-out;
}

.recomend-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 24px;
}

.recomend-tittle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.1em;
  font-family: "Roboto-bold";
  text-align: center;
  color: #181c1d;
}

.recomend-scroll {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 34px;
  padding: 28px 48px 28px 48px;
  background-color: #dae4e5;
  max-width: 90vw;
  border-radius: 20px;
  border-color: #dae4e5;
  border-width: 24px;
  border-style: solid;
}

.recomend-scroll > .recomend-card-container > .recomend-card-tittle,
.recomend-scroll > .recomend-card-container > .recomend-card-published {
  font-size: 0.9em;
}

.recomend-scroll > .recomend-card-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  border-radius: 18px;
  padding: 12px 12px 12px 12px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.recomend-scroll > .recomend-card-container > .recomend-card-img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.recomend-card-tittle {
  font-family: "Roboto-bold";
  text-align: start;
  margin-top: 6px;
  color: #181c1d;
}

.recomend-card-published {
  font-family: "Roboto-regular";
  text-align: start;
  color: #181c1d;
}

.recomend-scroll:hover .recomend-card-container:not(:hover) {
  opacity: 0.7;
  filter: blur(1px);
  filter: grayscale(50%);
}

.recomend-card-container:hover {
  background-color: #55c3c7;
  border-radius: 18px;
  color: #012022;
  transform: translateY(-6px);
}

.book-card-mini-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  transition: 0.5s ease-in-out;
  padding: 12px 12px 12px 12px;
  width: auto;
}

.book-card-mini-tittle {
  font-family: "Roboto-bold";
  margin: 8px 0 0 0;
  font-size: 0.9em;
  color: #181c1d;
  max-width: 160px;
}

.book-card-mini-published {
  font-size: 0.9em;
  color: #181c1d;
  max-width: 160px;
}

.book-card-mini-img {
  width: 160px;
  height: 240px;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.news-layout-container .recomend-card-container {
  gap: 24px;
  padding: 12px 12px 12px 12px;
  transition: 0.5s ease-in-out;
  border-radius: 18px;
}

.terbaru-scroll:hover .recomend-card-container:not(:hover) {
  opacity: 0.7;
}

.book-search:hover .book-card-mini-container:not(:hover) {
  opacity: 0.7;
  filter: blur(1px);
  filter: grayscale(50%);
}

.book-card-mini-container:hover {
  background-color: #55c3c7;
  border-radius: 18px;
  color: #012022;
  transform: translateY(-6px);
}

.search-bar {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
}

.input-search-bar {
  width: 50%;
  height: 38px;
  border-radius: 28px;
  border: none;
  padding-left: 48px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  background-image: url("./icon/Search.svg");
  background-repeat: no-repeat;
  background-position: 14px;
  background-size: 24px;
  transition: 0.3s ease-in-out;
}

.input-search-bar:focus{
  outline-color: #00696c;
  width: 100%;
}

.search-bar:focus-within ~ .book-search {
  filter: saturate(1.25) contrast(1.12);
}

.lihat-semua-btn {
  width: 220px;
  height: 46px;
  border-radius: 28px;
  border: none;
  border-color: #6f797a;
  transition: 0.5s ease-in-out;
  background-color: #fff;
  color: #012022;
  box-shadow: 0px 0px 4px 0px #6f797a;
  font-family: "Roboto-regular";
}

.lihat-semua-btn:hover {
  box-shadow: 0px 0px 4px 0px #00696c;
  background-color: #00696c;
  color: #fff;
}

.tittle-terbaru,
.tittle-comingsoon {
  font-family: "Roboto-bold";
  font-size: 1em;
  justify-content: center;
  text-align: center;
  color: #181c1d;
}

.recomend-card-container {
  scroll-snap-align: center;
}

.comingsoon-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  padding: 12px 12px 12px 12px;
  transition: 0.5s ease-in-out;
  border-radius: 18px;
  scroll-snap-align: center;
}

.img-comingsoon-card {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.tittle-comingsoon-card {
  font-family: "Roboto-regular";
  margin: 6px 0 0 0;
}

.comingsoon-card-container:hover {
  background-color: #55c3c7;
  border-radius: 18px;
  transform: translateY(-6px);
}

.comingsoon-scroll:hover .comingsoon-card-container:not(:hover) {
  opacity: 0.7;
}

.searchlay-n-newslay-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: row;
  max-width: 100%;
  padding: 0 32px 0 32px;
  margin: 68px 0 0 0;
  align-items: start;
}

.search-layout-left {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 70%;
  background-color: #e2e2e2;
  border-radius: 24px;
  padding: 28px 28px 28px 28px;
}

.book-search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin: 28px 0 0 0;
  transition: 0.5s ease-in-out;
}

.container-lihat-semua-btn {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 100%;
  padding: 28px 0 28px 0;
}

.news-layout-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 20%;
  gap: 28px;
}

.container-terbaru {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 100%;
}

.container-segera-datang {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 100%;
}

.terbaru-scroll {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: auto;
  max-width: 100%;
  scroll-snap-type: x mandatory;
  padding: 12px 12px 12px 12px;
  gap: 12px;
}

.comingsoon-scroll {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: auto;
  max-width: 100%;
  scroll-snap-type: x mandatory;
  padding: 12px 12px 12px 12px;
  gap: 12px;
}

.comingsoon-scroll > .comingsoon-card-container {
  border-radius: 24px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.terbaru-scroll > .recomend-card-container {
  scroll-snap-align: center;
  border-radius: 24px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.terbaru-scroll > .recomend-card-container > .recomend-card-img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.notification-container {
  position: absolute;
  right: 1%;
  top: 70px;
  padding: 14px;
  border-radius: 24px;
  background-color: #fbfdfc;
  max-height: 60%;
  max-width: 400px;
  overflow-y: auto;
  border-width: 12px;
  border-style: solid;
  border-color: #fbfdfc;
  transition: 0.5s ease-out;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
}

.notification-visible {
  visibility: visible;
  opacity: 1;
  height: 60%;
  transition-delay: 0.3s;
}

.notification-hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition-delay: 0s;
}

.infobook-container {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  max-width: 300px;
  z-index: 2;
}

.infobook-visible {
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease-in-out;
}

.infobook-hidden {
  transition: 0.3s ease-out;
  opacity: 0;
  visibility: hidden;
  transform: translateX(400px);
}

.container-body-infobook-on {
  filter: blur(5px) grayscale(80%) brightness(1.1) contrast(1.1);
  transform: translateX(-80px);
}

.container-body-infobook-off {
  transition: 0.3s ease-out;
}
